
$headfoot-background: #121119;
$other-background: #1e1d23;
.floatleft{float: left;}
.mainbg {
    background: $other-background;
}
body{
    background: $other-background;
    display: flex;
    flex-direction: column;
    header {
        padding: 40px 0;
        background: $headfoot-background;
        
        .inner-header{
            .logo {
                color: white;
            }
        }
        nav {
            ul {
                list-style: none;
                float: right;
                li {
                    margin: 0 10px;
                }
            }
            }
    }
    #input{
        width:100%;
        height:100%;
        display: grid;
        align-items:center;
        background: $other-background;
        justify-content:center;
        form{
            label{
                padding-top: 5px;
                display: inline-block;
                vertical-align: middle;
                color: white;
            }
            input{
                display: inline-block;
                padding: 12px 20px;
                margin: 8px 0;
            }
            .submitButton{
                width: max-content;
            }
        }
        
        
    }

    #results {
        padding: 20px;
        margin-bottom: 20px;
       
        .image{
            
            padding: 10px;
            a{
                img{
                    width: 300px;
                    height: auto;
                }
            }
           
        
    }

    
}
footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: fit-content;
    background-color: $headfoot-background;
    color: white;
    text-align: center;
    #logo{
        padding-top: 10px;
    }
}
}




// @media (max-width: 768px) {
//     body {
//         #results{
//             .image{
//                 a{
//                     margin: 0 auto;
//                     img{
                        
//                         width: 300px;
//                         height: auto
//                     }
//                 }
//             }
//         }
//     }
    
// }

@media (max-width: 1399px) and (min-width: 1200px) {
    body {
        #results{
            .image{
                a{
                    margin: 0 auto;
                    img{
                        
                        width: 250px;
                        height: auto
                    }
                }
            }
        }
    }
    
}
@media (max-width: 1199px) and (min-width: 769px) {
    body {
        #results{
            .image{
                a{
                    margin: 0 auto;
                    img{
                        
                        width: 220px;
                        height: auto
                    }
                }
            }
        }
    }
    
}

@media (max-width: 768px) and (min-width: 576px) {
    body {
        #results{
            .image{
                a{
                    margin: 0 auto;
                    img{
                        
                        width: 200px;
                        height: auto
                    }
                }
            }
        }
    }
    
}