@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script+Swash+Caps&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Aboreto&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap';
$headfoot-background: #121119;
$other-background: #1e1d23;
.floatleft{float: left;}
.mainbg {
    background: $other-background;
}
body{
    background: $other-background;
    
    header{
        background: $headfoot-background;
        nav{
            padding: 10px;
            overflow: hidden;
            .logo{
                font-size: 2.25em;
                font-weight: bold;
                font-family: 'Bebas Neue';
                color: white;
            }
            .rightSection {
                float: right;
            }
            .links{
                font-family: 'Aboreto';
                font-weight: bold;
                float: left;
                color:white;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                font-size: 18px;
                line-height: 25px;
                border-radius: 4px;
                &:hover {
                    color: rgb(42, 10, 94);
                }
            }
        };
    }
    #input{
        width:100%;
        height:100%;
        display: grid;
        align-items:center;
        background: $other-background;
        justify-content:center;
        form{
            label{
                padding-top: 5px;
                display: inline-block;
                vertical-align: middle;
                color: white;
            }
            input{
                display: inline-block;
                padding: 12px 20px;
                margin: 8px 0;
                &:focus{
                    border: 5px solid violet;
                }
            }
            .submitButton{
                width: max-content;
            }
        }
        
        
    }

    #results {
        padding: 20px;
        margin-bottom: 20px;
       
        .image{
            
            padding: 10px;
            a{
                img{
                    width: 300px;
                    height: auto;
                }
            }
           
        
    }

    
}
footer {
    position: fixed;
    bottom: 0;
    font-family: 'Saira Condensed', sans-serif;
    width: 100%;
    height: fit-content;
    background-color: $headfoot-background;
    color: white;
    text-align: center;
    #logo{
        padding-top: 10px;
    }
}
}




// @media (max-width: 768px) {
//     body {
//         #results{
//             .image{
//                 a{
//                     margin: 0 auto;
//                     img{
                        
//                         width: 300px;
//                         height: auto
//                     }
//                 }
//             }
//         }
//     }
    
// }

@media (max-width: 768px) {
    header{
        nav{
            
            .rightSection{
                float: none !important;;
            }
            .links{
                float: none !important;
                display: block !important;
                text-align: left!important;
            }
        }
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    body {
        #results{
            .image{
                a{
                    margin: 0 auto;
                    img{
                        
                        width: 250px;
                        height: auto
                    }
                }
            }
        }
    }
    
}
@media (max-width: 1199px) and (min-width: 769px) {
    body {
        #results{
            .image{
                a{
                    margin: 0 auto;
                    img{
                        
                        width: 220px;
                        height: auto
                    }
                }
            }
        }
    }
    
}

@media (max-width: 768px) and (min-width: 576px) {
    body {
        #results{
            .image{
                a{
                    margin: 0 auto;
                    img{
                        
                        width: 200px;
                        height: auto
                    }
                }
            }
        }
    }
    
}

